/* custom.css */
body {
    background-color: #fffaf0; /* ivory */
}

h1, h2, h3, h4, h5, h6, p {
    color: #8b4513; /* saddle brown */
}

.btn-custom {
    background-color: #ff7f50; /* coral */
    color: white;
    border-color: #ff6347; /* tomato */
}

.btn-custom:hover {
    background-color: #ff6347; /* tomato */
    border-color: #ff4500; /* orange red */
}

.navbar-custom {
    background-color: #8b4513; /* saddle brown */
    color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #ffdead; /* navajo white */
}

.badge-warning {
    display: inline-block;
    padding: 0.5em 1em; /* パディングを増やしてアイコンを大きく */
    background-color: #ffcc80; /* オレンジ系の色 */
    color: #fff; /* 濃い茶色 */
    border-radius: 0.25em; /* 少し角を丸く */
    font-size: 1.25em; /* フォントサイズを大きく */
    font-weight: bold;
    text-align: center;
}

/* .days {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc80;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
} */

.table .last_done {
    white-space: nowrap; /* 改行を防ぐ */
    overflow: hidden; /* 内容がセルを超えた場合に隠す */
    text-overflow: ellipsis; /* 内容が長すぎる場合に省略記号を表示 */
}

 
/* Add your custom styles here */
body {
    padding-top: 56px; /* Adjust if necessary */
}

/* @media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    .navbar-nav {
        text-align: center;
    }
} */

/* @media (max-width: 768px) {
    .navbar-nav {
        display: block;
    }
    .navbar-nav .nav-item {
        display: inline-block;
    }
} */  /* display: block -> 必要に応じて表示 */

/* スマホ画面用のメディアクエリ */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* 縦並びに変更 */
    }

    .navbar-nav .nav-item {
        width: 100%; /* ボタンが全幅に広がるように設定 */
        text-align: center; /* 中央揃え */
    }

/* 列のスタイル */
.column-class {
    width: 100%; /* 列の幅を調整 */
    white-space: nowrap; /* テキストを1行に収める */
    overflow: hidden; /* 範囲外のテキストを隠す */
    text-overflow: ellipsis; /* 範囲外のテキストの代わりに省略記号を表示 */
}

/* .navbar .btn {
    display: block !important;
} */

/* .navbar .btn {
    display: inline-block !important;
    visibility: visible !important;
} */


