<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Last Time App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- HTMLドキュメントに外部のCSSスタイルシートをリンクするためのタグです。このタグを使うことで、外部スタイルシートに記述されたスタイルがHTMLに適用されます。 -->
    <!-- FlaskのテンプレートエンジンであるJinja2(Nのp194)を使用して、url_for関数を使用 -->
    <!-- staticはデフォルトで静的ファイル（CSS、JavaScript、画像など）を格納するディレクトリを指します。 -->
</head>
<body>
    <h1>Last Time App</h1>
    <a href="{{ url_for('add_activity') }}">Add New Activity</a>
    <!-- <a>タグは、リンクを作成するためのタグです。<a>タグのhref属性を使って、リンク先のURLを指定します。このタグを使用することで、ユーザーがクリックすると指定されたURLに移動します。 -->
    <ul>
    <!-- <ul>タグは、順序がないリストを作るために使用され、通常、アイテムは丸い箇条書き（ディスク）として表示されます。 -->
        {% for activity in activities %}
            <li>
                <a href="{{ url_for('activity_detail', id=activity.id) }}">{{ activity.name }}</a>
                - Last done: {{ activity.last_done.strftime('%Y-%m-%d %H:%M:%S') }}  <!-- 追加(TIME) -->
                <form action="{{ url_for('delete_activity', id=activity.id) }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
