{% extends "base.html" %}

{% block title %}Activity List{% endblock %}

{% block content %}
<h1 class="mb-4">Activity List</h1>
<div class="column-class">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Days Elapsed</th>
            <th>Name</th>
            <th>Details</th>
            <th>Last Done</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in activities %}
            <tr>
                <td><span class="badge badge-warning">{{ item.elapsed_days }} days</span></td>
                <td>{{ item.activity.name }}</td>
                <td>{{ item.activity.details }}</td>
                <td class="last_done">{{ item.activity.last_done.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <a href="{{ url_for('main.activity_detail', id=item.activity.id) }}" class="btn btn-custom">Detail</a>
                    <form action="{{ url_for('main.delete_activity', id=item.activity.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<a href="{{ url_for('main.add_activity') }}" class="btn btn-custom">Add Activity</a>
{% endblock %}
